.filter-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    background-color: rgb(146, 150, 153);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    
    
}

.filter-list {
    position: relative;

}

.filter-select {
  padding: 10px 36px 10px 10px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  width: 90%;
  bottom: 0;

  background-color: #fff;
  color: #333;

  
}
.filter-row h4 {
    font-size: 14px;
    margin-bottom: 2%;
    color: white;
}

.searchBar {
    border-radius: 5px;
    background-color: rgb(121, 120, 120);
    font-size: 12px;
    width: 90%;
    margin-bottom: 10px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
}

.filter-row{

    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    justify-content: center;
    padding-left: 4%;

    
}

.filter-header {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2%;
    color: white;
    width: 100%;
    text-align: center; 
    align-items: center;
    justify-content: center;
}

.filter-header hr {
    border: none;
    border-top: 4px solid #2c3e50;
    border-radius: 2px;
    width: 90%;
}
