.container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 2%;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 0 20px;
}

.item-group {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 44px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}