.modal-add {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-add {
   background-color: #fefefe;
    padding: 40px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
}

.close-add {
    color: #aaa;
    float: right !important;
    font-size: 20px;
    font-weight: bold;
}

.close-add:hover,
.close-add:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form-container-add {
   
    width: 40%;
    margin-right: 5%;
}




.form-container-add label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    color: #333;
    gap: 6px;
}

.form-container-add h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}

.form-container-add input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}
.modal-content-add .preview-image {
    
    max-width: 60%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    object-fit: contain;
}

.form-container-add input:focus {
    outline: none;
    border-color: #646cff;
    box-shadow: 0 0 0 2px rgba(100, 108, 255, 0.2);
}

.form-container-add button {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.form-container-add button:hover {
    background-color: #535bf2;
}

.form-container-add button:active {
    transform: scale(0.98);
}