.navbar {
    width: 100%;
    height: 30px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
   
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.425);
    
    position: fixed;
    top: 0;
    z-index: 1000;
    
}




.navbar-header {
    color: #ecf0f1;
    font-size: 24px;
    font-weight: bold;
}

.navbar-button {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}